:root{
    --colorA:white;
}
*{
    margin: 0;
    padding: 0;
    background-color: var(--colorA);
}



#gridWrapper{
   
    
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 7fr;
}
.logo{
    background:#FF7F50;
}
#logo{
    display: flex;
    background:#FF7F50;
    justify-content: center;
}
#logo h2{
    background:#FF7F50;
    margin-top:5vh;
    
}

#formColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: #FF7F50;
}

#formColumn label,.input{
    background:#FF7F50;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}
th{
    width: 8vw;
    border: 3px solid black;
    padding: 15px 15px;
    background-color: #012169;
    color: beige;
}
#table{
    display: flex;
   align-items: center;
    flex-direction: column;
}
#myTable{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.tableHeader{
    display: flex;
    
    
}
.title{
    display:none
}
.author{
    display: none;
}
.number{
    display:none;
}
.input p{
    background:#FF7F50;
    color:#012169;
    font-size: 12px;
   
}