:root{
    --colorA:white;
}
*{
    margin: 0;
    padding: 0;
    background-color: var(--colorA);
}


p{
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
}
#gridWrapper{
   
    
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 7fr;
}

#formColumn{
    background: linear-gradient(#FF7F50,#F08080);
    display: flex;
    align-items: center;
   
    flex-direction:column ;
    
}
#formColumn p{
    background: linear-gradient(#FF7F50,#F08080);
}
th{
    width: 8vw;
    border: 3px solid black;
    padding: 15px;
    background-color: #012169;
    color: beige;
}
#table{
    display: flex;
    justify-content: center;
}
.tableHeader{
    display: flex;
  
}